= form_for @site, remote: true,  :html => {:class =>  "signup-form" }do |f|
 
  = f.text_field :email,:placeholder => "Email Address", :type => "email", :input_html => {:maxlength =>50,:style=> 'width: 300px'},  label: false
  
  = f.button :submit, :value => "Sign Up", :type => "submit", class: "site-button"



/ %form#signup-form{:action => "in", :method => "post"}
/   %input#email{:name => "email", :placeholder => "Email Address", :type => "email"}/
/   %input{:type => "submit", :value => "Sign Up"}/